$link_color:#0000bb;
$theme_bg_color:#dddddd;
div#tournament_header {
  background:$theme_bg_color;
  margin: -5px 0px 0px 0px;
}
h1 {
  padding-top:5px;
  padding-bottom: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  background:$theme_bg_color;
}

div#header_text {
  h1 a {
    color: black;
    font-size: 1.5em;
    font-weight:bold;
    &:hover {
      color: $link_color;
      text-decoration: none;
    }
  }
}

form#new_inscription {
  border: {
    color:#eeeeee;
  }
}

/*
h1 { 
  background: #ffffff;
}

div#navigation {
	float: right;
	width: 135px;
	padding: 5px;
	background: #aaaaaa;
}

div#navigation ul {
	list-style-type: none;
}
	
div#navigation ul li {
	display: block;
	border-width: thin;
	border-top: thin;
	margin: 1px 1px 2px -30px;
}
div#navigation ul li ul {
	background: #dddddd;
}
div#navigation ul li ul li a.link {
	display: block;
	border-bottom: dotted;
	border-width: thin;
	border-top: thin;
	color:#2020e0;
	text-decoration:none
}
div#navigation ul li ul li a:visited {
	display: block;
	color: #6060ff
}
div#navigation ul li ul li a:hover {
	display: block;
	border-bottom: solid;
	border-width: thin;
	border-top: thin;
	background:#eeeeee;
}
div#navigation ul li ul li a:active {
	display: block;
	color: #202000;
	background:#eeeeee;
}
*/