$main_bg_color:rgb(35, 100, 165);
$theme_bg_color:lighten($main_bg_color, 45);
$header_color:black;
$link_color:darken($theme_bg_color, 55);
@mixin linear-gradient-background($orientation, $col1, $col2, $col3) {
  background: $col2;    /* fallback for IE up to 9 */
  background: linear-gradient($orientation, $col1, $col2, $col3);
  background: -webkit-linear-gradient($orientation, $col1 0%, $col2 20%, $col2 95%, $col3 100%);
  background: -moz-linear-gradient($orientation, $col1 0%, $col2 20%, $col2 95%, $col3 100%);
  background: -o-linear-gradient($orientation, $col1, $col2, $col3);
  background: -ms-linear-gradient($orientation, $col1, $col2, $col3);
}
@mixin radial-fade-background($col1, $col2) {
  background: -webkit-radial-gradient(center, ellipse cover, $col1 0%, $col1 70%, $col2 100%);
  background: -moz-radial-gradient(center, ellipse cover, $col1 0%, $col1 70%, $col2 100%);
  background: -o-radial-gradient(center, ellipse cover, $col1 0%, $col1 70%, $col2 100%);
  background: radial-gradient(ellipse at center, $col1 0%, $col1 70%, $col2 100%);
}

div#tournament_header {
  margin: -5px 0px 0px 0px;
  @include linear-gradient-background(90deg, darken($theme_bg_color, 30), $theme_bg_color, lighten($theme_bg_color, 40));
  color:$header_color;
}
div#heading {
  background:inherit;
}

div#header_logo {
  background-color: white;
  padding-right: 10px;
  padding-bottom: 8px;
}

h1 {
  background:inherit;
  color:$header_color;
}

div#header_text {
  h1 a {
    color: $header_color;
    font-size: 1.5em;
    font-weight:bold;
    &:hover {
      color: $link_color;
      text-decoration: none;
    }
  }
}

$menu_bg_color:lighten($theme_bg_color, 10);
$menu_color:#222222;
$menu_visited_color:black;
$nav_width:185px;
div#maincontent {
  margin-right:$nav_width+5;
}
div#navigation {
  width:$nav_width;
  background:$theme_bg_color;
  ul {
    li {
      ul {
        background: $menu_bg_color;
        li {
          a {
            color:$menu_color;
            &:visited {
              color: $menu_visited_color;
            }
            &:hover {
              background:$theme_bg_color;
              color:$link_color;
            }
            &:active {
              color: #202000;
              background:lighten($menu_bg_color, 30%);
            }
          }
        }
      }
    }
  }
}

form#new_inscription {
  @include radial-fade-background(white, darken($theme_bg_color, 20%));
  border: {
    color:lighten($theme_bg_color, 20);
  }
}
ul#help_links {
  @include linear-gradient-background(30deg, lighten($theme_bg_color, 50), lighten($theme_bg_color, 45), lighten($theme_bg_color, 50));
  li {
    a {
      &:hover {
        background-color: $menu_bg_color;
        color:$menu_color;
        &:before {
          color:$menu_color;
        }
      }
    }
  }
}

div#remark {
  background-color: hsl(274, 83%, 81%);
}