$link_color:#0000bb;
$theme_bg_color:#ffff00;
div#tournament_header {
  background:$theme_bg_color;
  margin: -5px 0px 0px 0px;
}
h1 {
  background:$theme_bg_color;
}

div#header_text {
  h1 a {
    color: black;
    font-size: 1.5em;
    font-weight:bold;
    &:hover {
      color: $link_color;
      text-decoration: none;
    }
  }
}

div#navigation {
  background:$theme_bg_color;
  ul {
    li {
      ul {
        background: #ffffa0;
        li {
          a {
            .link {
              color:#2020e0;
            }
            &:visited {
              color: #6060ff
            }
            &:hover {
              background:$theme_bg_color;
            }
            &:active {
              color: #202000;
              background:#ffe020;
            }
          }
        }
      }
    }
  }
}

form#new_inscription {
  border: {
    color:yellow;
  }
}

div#remark {
  background-color: hsl(44, 96%, 66%);
}