div#tournament_header {
  background: #ffff00;
  margin: -5px 0px 0px 0px;
}
div#header_logo {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: top;
  min-width: 5%;
}
div#header_text {
    vertical-align: top;
    min-height: 111px;
    overflow: auto;
}
h1 { 
  padding-top:5px;
  padding-bottom: 10px;
  background: #ffff00;
}

div#header_text h1 {
    color: black;
    margin: 0px 0px 3px 0px;
    padding: 10px 0px 3px 0px;
    font-size: 40px;
    font-weight:bold;
}
div#header_text p {
    text-align: right;
    margin: 9px 0px 0px 0px;
    font-size: 20px;
}

div#header_text p span {
    margin: 0px 20px 0px 10px;
}

div#header_text p span.open {
    color: #00A000;
}

div#header_text p span.closed {
    color: #F00000;
}

div#navigation {
	float: right;
	width: 135px;
	padding: 5px;
	background: #ffff00;
}

div#navigation ul {
	list-style-type: none;
}
	
div#navigation ul li {
	display: block;
	border-width: thin;
	border-top: thin;
	margin: 1px 1px 2px -30px;
}
div#navigation ul li ul {
	background: #ffffa0;
}
div#navigation ul li ul li a.link {
	display: block;
	border-bottom: dotted;
	border-width: thin;
	border-top: thin;
	color:#2020e0;
	text-decoration:none
}
div#navigation ul li ul li a:visited {
	display: block;
	color: #6060ff
}
div#navigation ul li ul li a:hover {
	display: block;
	border-bottom: solid;
	border-width: thin;
	border-top: thin;
	background:#ffff20;
}
div#navigation ul li ul li a:active {
	display: block;
	color: #202000;
	background:#ffe020;
}
form#new_inscription {
  border: {
    color:yellow;
  }
}