div#tournament_header {
    background: #0066CC;
    margin: -5px 0px 0px 0px;
}
div#header_logo {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: top;
    min-width: 5%;
}
h1 {
    padding-top:5px;
    padding-bottom: 10px;
    background: #0066CC;
    color: white;
}
div#header_text {
    color: white;
    vertical-align: top;
    min-height: 111px;
    overflow: auto;
}
div#header_text h1 {
    margin: 0px 0px 3px 0px;
    padding: 10px 0px 3px 0px;
    font-size: 40px;
    font-weight:bold;
}
div#header_text p {
    text-align: right;
    margin: 9px 0px 0px 0px;
    font-size: 20px;
}

div#header_text p span {
    margin: 0px 20px 0px 10px;
}

div#header_text p span.open {
    color: #00E000;
}

div#header_text p span.closed {
    color: #F00000;
}div#menu {
	background: #aaccf5;
}

div#maincontent {
    margin: 0px 200px 0px 0px;
}
div#navigation {
	float: right;
	width: 160px;
	padding: 5px;
	background: #cbdaf9;
}

div#navigation ul {
	list-style-type: none;
    padding-left: 0px;
}
	
div#navigation ul li {
	display: block;
	border-width: thin;
	border-top: thin;
	margin: 1px 1px 2px 3px;
}
div#navigation ul li ul {
	background: #ddeafb;
    padding-left: 8px;
    padding-right: 5px;
}
div#navigation ul li ul li a.link {
	display: block;
	border-bottom: dotted;
	border-width: thin;
	border-top: thin;
	color:#2020e0;
	text-decoration:none;
}
div#navigation ul li ul li {
}
div#navigation ul li ul li a:visited {
	display: block;
	color: #6060ff;
}
div#navigation ul li ul li a:hover {
	display: block;
	color: white;
	border-bottom: solid;
	border-width: thin;
	border-top: thin;
	background:#0066CC;
}
	div#navigation ul li ul li a:active {
	display: block;
	color: white;
	background:#0066CC;
}
