@mixin linear-gradient-background($orientation, $col1, $col2, $col3) {
  background: linear-gradient($orientation, $col1, $col2, $col3);
  background: -webkit-linear-gradient($orientation, $col1, $col2, $col3);
  background: -moz-linear-gradient($orientation, $col1, $col2, $col3);
  background: -o-linear-gradient($orientation, $col1, $col2, $col3);
  background: -ms-linear-gradient($orientation, $col1, $col2, $col3);
}
@mixin radial-fade-background($col1, $col2) {
  background: -webkit-radial-gradient(center, ellipse cover, $col1 0%, $col1 70%, $col2 100%);
  background: -moz-radial-gradient(center, ellipse cover, $col1 0%, $col1 70%, $col2 100%);
  background: -o-radial-gradient(center, ellipse cover, $col1 0%, $col1 70%, $col2 100%);
  background: radial-gradient(ellipse at center, $col1 0%, $col1 70%, $col2 100%);
}
$link_color:#0000bb;
$ysz-yellow:#ffff20;

body {
  font-family: sans-serif;
}
h1 {
  text-align:center;
  color:black;
  font-size:18pt;
}
p.footer {
  float:right;
  margin-top: 3em;
  text-align:right;
  font-size:80%;
}

div#footer {
  clear:both;
  padding-top: 20px;
}
div.commercial {
  float: left;
  width: 50%;
}
a {
    text-decoration:none;
    color:#0000cc;
}
a:link {
    text-decoration:none;
    color:#0000cc;
}
a:active {
    text-decoration:underline;
    color:#0000cc;
}
a:hover {
    text-decoration:underline;
}
a:visited {
    text-decoration:none;
    color:#0000cc;
}

*.series {
	padding-left:10px;
	color: #0000ff
}

*.forbidden_series {
	padding-left:10px;
	color: #aaaaaa
}

*.label {
  text-align:right;
  font-weight:bold;
}

*.select_item:hover {
	background: #ddeeff
}

div#maincontent {
    margin: 0px 150px 0px 0px;
    padding-top: 1em;
    clear: left;
}
div#heading {
  clear: both;
  background-color: #f5f5f5;
  h1 {
    margin: 0px 0px 0px 0px;
    margin: 0px 0px 1em 0px;
  }
}
div#menu {
  background-color: #f0f8f8;
  margin-top: -1.3em;
  height:2em;
  ul {
    margin-bottom: 0px;
    margin-top: 2px;
    li {
      display: inline;
      list-style-type: none;
      margin-right: 0.7em;
    }
    a {
      text-decoration:none;
      vertical-align: middle;
      padding: 3px 2px 5px 1px;
      &:hover {
        background-color: #a0f8f8;
        color: #0000f8;
      }
      &:active {
        color: #00c800;
      }
      img {
        vertical-align: middle;
      }
    }
  }
  ul.context {
    float: left;
    padding-left: 0.5em;
    white-space: nowrap;
  }

  ul.standard {
    float: right;
    white-space: nowrap;
  }
}
div.notice {
  padding: 0.2em 0em 0.15em 0.5em ;
  background: #f0f838;
  color: #108f10;
  margin: 0px 145px 0px 0px;
}

div.errorExplanation {
  padding: 0.2em 0em 0.15em 0.5em ;
  background: #f0f838;
  color: #8f1010;
  margin: 0px 145px 0px 0px;
}

.fieldWithErrors {
  padding: 1px;
  background-color: red;
  display: table;
}

div#navigation {
    clear: right;
    float: right;
    width: 135px;
    padding: 5px;
    background: #ffffa0;
}

div#navigation ul {
	list-style-type: none;
}
	
div#navigation ul li {
	display: block;
	border-width: thin;
	border-top: thin;
	margin: 1px 1px 2px 0px;
}
div#navigation ul li ul li a {
	display: block;
	border-bottom: dotted;
	border-width: thin;
	border-top: thin;
	color:#2020e0;
	text-decoration:none
}
div#navigation ul li ul li a:hover {
	display: block;
	border-bottom: solid;
	border-width: thin;
	border-top: thin;
	background:#ffff20;
}
div#navigation ul li ul li a:visited {
	display: block;
	color: #6060ff
}
div#navigation ul li ul li a:active {
    display: block;
    color: #202000;
    background:#ffe020;
}
	
.open_inscriptions {
    color:#007000
}
form#new_inscription {
  float:left;
  padding:15px 20px 0px 20px;
  @include radial-fade-background(white, $ysz-yellow);
  border: {
    color:blue;
    width:2px;
    style:solid;
    radius:8px;
  }
}
ul#help_links{
  padding: 1em 1.5em;
  float:right;
  list-style: none;
  border: {
    radius:8px;
  }
  @include linear-gradient-background(30deg, #ffffc0, #ffff90, #ffffd0);
  li {
    margin-left:0px;
    padding-left:0px;
    a {
      display: block;
      text-decoration: none;
      &:hover {
        background-color: yellow;
        &:before {
          color:$link_color;
        }
      }
      &:before {
        content: "\2192\0020";
        color: lighten($link_color, 50%);
      }
    }
  }
}
.newline {
  clear:both;
}
div.commercial a{
  margin-left:1em;
}
div#header_text {
  vertical-align: top;
  min-height: 111px;
  overflow: auto;
  p {
    text-align: right;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    span {
      margin: 0px 20px 0px 10px;
    }

    .open {
      color: #00A000;
    }

    .closed {
      color: #F00000;
    }
  }
}

$theme_bg_color:#dddddd;
$nav_link_bg_color:#eeeeee;
$nav_link_hover_color:#eeffdd;
$nav_link_active_color:#ddeeff;
div#navigation {
  float: right;
  width: 135px;
  padding: 5px;
  background:$theme_bg_color;
  ul {
    list-style-type: none;
    li {
      display: block;
      border-width: thin;
      border-top: thin;
      margin: 1px 1px 2px -30px;
      ul {
        background:$nav_link_bg_color;
        li {
          a {
            .link {
              display: block;
              border-bottom: dotted;
              border-width: thin;
              border-top: thin;
              color:#2020e0;
              text-decoration:none
            }
            &:visited {
              display: block;
              color: #6060ff
            }
            &:hover {
              display: block;
              border-bottom: solid;
              border-width: thin;
              border-top: thin;
              background:$nav_link_hover_color;
            }
            &:active {
              display: block;
              color: #202000;
              background:$nav_link_active_color;
            }
          }
        }
      }
    }
  }
}

div#header_logo {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: top;
  min-width: 5%;
}

div#remark {
  clear:both;
  float:left;           // note that the margin will only show with float ... (CSS hell)
  margin-top: 2em;
  border-radius: 1em;
  width: 80%;
  padding: 0 1em;
  margin-left: 10%;
}

h1 {
  padding-top:5px;
  padding-bottom: 1px;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

li.ui-menu-item {
  font-size:0.7em;
}

div.series-start {
  padding: {
    top:10px;
    bottom: 10px;
  }
  color: darkgreen;
  font: {
    size: 1.3em;
    weight: bold;
  }
}

$series_color:darkgreen;
$series_width:3px;
$series_radius:8px;
table.players_list {
  td {
    padding: 1px, 2px;
  }
  td:nth-child(3) {
    text-align: right;
  }
  border-spacing: 0px;
  td.spacer {
    width:30px;
  }
  tr.first td.spacer {
    border: {
      top-style: solid;
      right-style: solid;
      color: $series_color;
      width: $series_width;
      top-right-radius: $series_radius;
    }
  }
  tr.last td.spacer {
    border: {
      bottom-style: solid;
      right-style: solid;
      color: $series_color;
      width: $series_width;
      bottom-right-radius: $series_radius;
    }
  }
  td.series-name {
    width: 120px;
    border: {
      bottom-style: solid;
      color: $series_color;
      width: $series_width;
    }
    color:$series_color;
    text-align: center;
    font-weight: bold;
  }

  tr.in td.spacer {
    border: {
      right-style: solid;
      color:$series_color;
      width:$series_width;
    }
  }

  td.small-vspace {
    height:5px;
  }
}